/* -------------------------------------------------------------------------- */
/*                              ESTILOS GENERALES                             */
/* -------------------------------------------------------------------------- */


/* COLORES */

:root {
     --primary: #e3c32e;
}

body {
    background-color: #000 !important;
    letter-spacing: 0.04rem;
}

/* FLEX BOXES */

.d-between {
     justify-content: space-between;
}

.d-center {
     justify-content: center;
}

.d-start {
   justify-content: flex-start;
}

.d-end {
    justify-content: flex-end;
}

h1, h2, h3, h4, h5 {
     font-family: 'Poppins', sans-serif;
}