
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6, ul li, span, ol li, em, quote, strong {
    letter-spacing: 0.06rem;
}